.text-primary {
  color: $primary-color !important;
}

.text-primary2 {
  color: $primary-color2;
}

.text-title {
  color: $titleColor;
}

.text-body {
  color: $bColor;
}

.text-white {
  color: #ffffff;
}